<div id="services" class="container-fluid text-center">
    <h2>Events</h2>
    <h4>Pick Your Choices of Events Near you </h4>
    <br>
    <div class="row slideanim ">
        <div class="col-sm-4 event-slide">
            <img src="images/basketball.jpeg" alt="Basketball" width="350" height="300">
            <h4>Basketball</h4>
            <p class="w3-justify">Date.28th February </p>
            <p class="w3-justify">Salt Lake Stadium Kolkata next to Hyatt Regency. </p>
            <p class="w3-justify">Time 7pm to 9pm </p>
            <p class="w3-justify">Book your slot </p>
        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/marathon.jpg" alt="Marathon" width="350" height="300">
            <h4>Marathon Running</h4>
            <p class="w3-justify">Date.1st march </p>
            <p class="w3-justify">Red Road Kolkata victoria memorial </p>
            <p class="w3-justify">Time 5am to 8am </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/football.jpeg" alt="Football" width="350" height="300">
            <h4>Football</h4>
            <p class="w3-justify">Date.6th March </p>
            <p class="w3-justify">Salt Lake Stadium Kolkata next to Hyatt Regency. </p>
            <p class="w3-justify">Time 7am to 2pm </p>
            <p class="w3-justify">Book your slot </p>          </div>
    </div>
    <br><br>
    <div class="row slideanim" >
        <div class="col-sm-4 event-slide">
            <img src="images/badminton.jpeg" alt="Badminton" width="350" height="300">
            <h4>Badminton</h4>
            <p class="w3-justify">Date.14th February </p>
            <p class="w3-justify">Mukherjeea Stadium </p>
            <p class="w3-justify">Time 7am to 12pm </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/tabletennis.jpeg" alt="Tabletennis" width="350" height="300">
            <h4>Table Tennis</h4>
            <p class="w3-justify">Date.14th February </p>
            <p class="w3-justify">Salt Lake Stadium Kolkata next to Hyatt Regency. </p>
            <p class="w3-justify">Time 6pm to 10pm </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/TennisL.jpeg" alt="Table Tennis" width="350" height="300">
            <h4 style="color:#303030;">Lawn Tennis</h4>
            <p class="w3-justify">Date.14th February </p>
            <p class="w3-justify">Salt Lake Stadium Kolkata next to Hyatt Regency. </p>
            <p class="w3-justify">Time 3pm to 6pm </p>
            <p class="w3-justify">Book your slot </p>
        </div>
    </div>
</div>